# Name: Shayan Ali Khan

In [1]:
import json
from urllib.request import urlopen

with urlopen("https://api.github.com/search/repositories?q=created:>2023-01-01+language:python&sort=stars&order=desc&per_page=10") as response:
    source = response.read()

# print(source)

data = json.loads(source)
# print(len(data['items']))
# print(json.dumps(data, indent = 2))

In [3]:
import pandas as pd
df = pd.DataFrame(data['items'])
for i in df:
    if i == 'owner':
        o = pd.Series(df[i])
    elif i == 'license':
        l = pd.Series(df[i])
    elif i == 'topics':
        t = pd.Series(df[i])
        
oo = pd.DataFrame(o)
ll =pd.DataFrame(l)
tt =pd.DataFrame(t)

# display(df)
display(oo,ll,tt)

                                               owner
0  {'login': 'microsoft', 'id': 6154722, 'node_id...
1  {'login': 'nomic-ai', 'id': 102670180, 'node_i...
2  {'login': 'binary-husky', 'id': 96192199, 'nod...
3  {'login': 'tatsu-lab', 'id': 61893194, 'node_i...
4  {'login': 'Torantulino', 'id': 22963551, 'node...
5  {'login': 'facebookresearch', 'id': 16943930, ...
6  {'login': 'lllyasviel', 'id': 19834515, 'node_...
7  {'login': 'THUDM', 'id': 48590610, 'node_id': ...
8  {'login': 'openai', 'id': 14957082, 'node_id':...
9  {'login': 'microsoft', 'id': 6154722, 'node_id...

                                             license
0  {'key': 'mit', 'name': 'MIT License', 'spdx_id...
1  {'key': 'mit', 'name': 'MIT License', 'spdx_id...
2  {'key': 'gpl-3.0', 'name': 'GNU General Public...
3  {'key': 'apache-2.0', 'name': 'Apache License ...
4  {'key': 'mit', 'name': 'MIT License', 'spdx_id...
5  {'key': 'gpl-3.0', 'name': 'GNU General Public...
6  {'key': 'apache-2.0', 'name': 'Apache License ...
7  {'key': 'apache-2.0', 'name': 'Apache License ...
8  {'key': 'mit', 'name': 'MIT License', 'spdx_id...
9  {'key': 'mit', 'name': 'MIT License', 'spdx_id...

                                              topics
0                                                 []
1                                                 []
2                                                 []
3  [deep-learning, instruction-following, languag...
4                        [ai, gpt-4, openai, python]
5                                                 []
6                                                 []
7                                                 []
8                         [chatgpt, chatgpt-plugins]
9                 [deep-learning, platform, pytorch]

In [140]:
# Saving as csv
df.to_csv('Main_Table.csv')

# Saving as json
df = df.to_dict()
with open('Main_Table.json', 'w') as f:
    json.dump(df, f)

In [141]:
oo = oo.to_dict()
with open('owner.json', 'w') as f:
    json.dump(oo, f)
ll = ll.to_dict()
with open('license.json', 'w') as f:
    json.dump(oo, f)
tt = tt.to_dict()
with open('topics.json', 'w') as f:
    json.dump(tt, f)